body{
    margin: 0;
}


.container {
    min-height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1555526148-0fa555bb2e78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.header {
    min-height: 100px;
    background-color: antiquewhite;
    margin-top: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;

}