body{
    margin: 0;
}


.container {
    min-height: 100vh;
}

.header {
    min-height: 100px;

    /* colors and fonts */

    background-color: deeppink;
    color: white;

    /* layout */

    display: flex; 
    justify-content: center;
    align-items: center;

}

.about__information {
    min-height: 100vh;
    background-color: white;
    color: #de45ca;
    font-size: 25px;
    line-height: 2.5;
}