body{
    margin: 0;
}


.container {
    min-height: 100vh;
    background-color: blue;
}

.header {
    min-height: 100px;
    background-color: antiquewhite;
    margin-top: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;

}